body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background:#C4C4C4;
    display : flex;
    width: 100vw;
    height: 14vh;

}

p {
    font-size: 18px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 15px;
}

ol {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 10px;
}

h4 {
    color: aliceblue;
    padding: 0;
    margin: 0;
}




.bienvenida {
    position: absolute;
    width: 1152px;
    height: 613px;
    left: 0px;
    top: 146px;
}

