body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
}

header {
    background:#C4C4C4;
    display : flex;
    width: 100vw;
    height: 12vh;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 15px;
}

figure{
    margin-block-start: 0em;
}

p {
    font-size: 18px;
    margin: 0px;
}

ol {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 10px;
}

h4 {
    color: aliceblue;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(249, 3, 3, 0.76);
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100vw;     
}

.bienvenida {
    display: flex;
    height: 88vh;
    width: 100vw;
}

div {
    display: flex;
}

div p {
   padding-top: 15px;
   font-size: 23px;
   font-weight: normal;
}
.bienvenida-gym {
    flex-direction: column;
    background: #1D1C1C;
    color: white;
    width: 44vw;
    padding: 30px 0px 10px 100px;
}


h2 {
    font-size: 40px;;
    font-weight: normal;
    margin-bottom: 10px;

}

h1 {
    font-size: 75px;
    margin: 0px;
    font-weight: normal;
}

h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 23px;
}
.gym-horario {
    text-decoration: underline;
    margin-top: 40px;
    font-weight: normal;
}
}